<div style="padding-top: 10px; padding-bottom: 10px; padding-left: 50px;; padding-right: 40px;">
  <div class="row">
    <div class="col-md-2" style="font-weight:bold;">First Name</div>
    <div class="col-md-2" style="font-weight:bold;">Last Name</div>
    <!-- <div class="col-md-2" style="font-weight:bold;">Email</div>
    <div class="col-md-2" style="font-weight:bold;">Office Phone</div>
    <div class="col-md-1" style="font-weight:bold;">Street</div>
    <div class="col-md-1" style="font-weight:bold;">Zip Code</div> -->
  </div>
  To add more contacts for this organization
  <button class="btn btn-primary" [hidden]="enabledEdit" (click)="enableEdit()">Click to
    edit the existing contacts</button>
  <div style="margin: 20px;" class="row" *ngFor="let contact of contacts; let i = index">
    <div class="input col-md-2">
      <input style="border: 0" [disabled]="i != enableViewId" id="first" type="text" value="{{contact.first_name}}">
    </div>
    <div class="input col-md-2">
      <input style="border: 0" [disabled]="i != enableViewId" id="last" value="{{contact.last_name}}" type="text">
    </div>
    <div class="input col-md-1">
      <i *ngIf="enabledEdit" (click)="cancelSubmitted(i)" style="cursor: pointer;" class="material-icons">cancel</i>
      <i *ngIf="enabledEdit" (click)="enableView(i)" style="cursor: pointer;" class="material-icons">edit</i>
      <i *ngIf="enabledEdit" (click)="edit(i)" style="cursor: pointer;" class="material-icons">save</i>
      <i *ngIf="enabledEdit" (click)="deleteContact(i)" style="cursor: pointer;" class="material-icons">delete</i>
    </div>
  </div>
  To add more contacts for this organization
  <button class="btn btn-primary" [hidden]="enabled" (click)="enable()">Click to
    add</button>
  <div class="row">
    <div class="input col-md-2">
      <input placeholder="First name goes here" [hidden]="!enabled" [(ngModel)]="first_name">
    </div>
    <div class="input col-md-2">
      <input [hidden]="!enabled" placeholder="Last name goes here" [(ngModel)]="last_name">
    </div>
    <div class="input col-md-1">
      <button class="btn btn-primary" [hidden]="!enabled" (click)="addContact()">Add
        Contact</button>
      <button class="btn btn-warning" [hidden]="!enabled" (click)="cancel()">Cancel</button>
    </div>
  </div>
</div>